.wrapper {

  transition: background linear .5s;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
.container {

  transition: background linear .5s;
  /* padding: 2rem */
}

.darkwrapper{
  background: rgb(69, 69, 69);
}

.darkcontainer{
  background: rgb(69, 69, 69);
}