
#projects {
  margin-top: 10px;
}

#projects li {
  position: relative;
  list-style-type: none;
  width: 27.85714285714286%;
  padding-bottom: 32.16760145166612%;
  float: left;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(-60deg) skewY(30deg); /* skewY   -  skews an element in the vertical direction on the 2D plane. */
}
#projects li:nth-child(3n+2){
  margin:0 1%;
}
#projects li:nth-child(6n+4){
  margin-left:0.5%;
}
#projects li:nth-child(6n + 4),
#projects li:nth-child(6n + 5),
#projects li:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}


#projects li:nth-child(6n + 4):last-child,
#projects li:nth-child(6n + 5):last-child,
#projects li:nth-child(6n + 6):last-child {
  margin-bottom:0%;
}

#projects li * {
  position: absolute;
  visibility: visible;
}

#projects li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
}


#projects li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}


/* inverts the colors of the hexagon when applied */
.inverted{
  filter: invert(100%);
  transition: filter linear 1s}

#projects div h1, #projects div p{
  width: 100%;
  padding:0 5%;
  background-color:#ffffffd8;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

#projects li h1{
  bottom:110%;
  font-size:20px;
  padding-top:100%;
  padding-bottom:100%;
}

#projects li p{
    padding-top:50%;
    top:110%;
    padding-bottom:50%;
}


#projects li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#projects li div:hover p{
  top:50%;
  padding-top:10%;

}