* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} 

#header{
  /* background:rgba(255, 255, 255, 0.205); */
  margin: 10px;
  padding: 10px;
  
}
#header h1{
  color: white;
}
#header h1 b{
  color: black;
}
body {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  
/* 
  background: #757F9A;  
background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  
background: linear-gradient(to top, #D7DDE8, #757F9A);  */

  /* background: #2980B9; 
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  */

  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
   */
  /* background: #2193b0; 
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
  background: linear-gradient(to right, #6dd5ed, #2193b0);  */

  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  /* background: linear-gradient(90deg,  #182848 0%,#4b6cb7 100%); */

}

.links{
  width: 300px
}

#projects {
  margin-top: 40px;
}